@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities, (
    "border": map-merge(
      map-get($utilities, "border"),
      ( responsive: true ),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "border-top": map-merge(
      map-get($utilities, "border-top"),
      ( responsive: true ),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "border-end": map-merge(
      map-get($utilities, "border-end"),
      ( responsive: true ),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "border-start": map-merge(
      map-get($utilities, "border-start"),
      ( responsive: true ),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "border-end": map-merge(
      map-get($utilities, "border-end"),
      ( responsive: true ),
    ),
  )
);

@import "bootstrap/scss/utilities/api";